.header{
    background-image: url("./img/header-bg.png");
    padding-bottom:40px;
}
.btn-default {
    background-color: #ff1f84;
    font-weight: 600;
}


.btn-download {
    background-color: #fb743e;
    font-weight: 600;
}

.middle{
    background-image: url("./img/biography-bg.png");
}
.portfolio{
    background-image: url('./img/latest-work-bg.png');
    background-position:top;
    padding-bottom:150px;
}

footer{
    background-image: url('./img/footer-bg.png');
}

.box{
    padding:38px 0px;
    background-image: linear-gradient(to right, #60ceec , #1687a7);
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    margin:60px auto;
    color:white;
}

.copyright{
    margin:30px 0px 10px 0px;
}


.container{
    border: 0px solid rgb(128, 29, 29);
    width:90% !important;
    max-width: 900px !important;
    font-weight: 500;
    margin: 0px auto;
}